[submodule "frontend/js/jquery-cookie"]
	path = frontend/js/jquery-cookie
	url = git://github.com/carhartl/jquery-cookie.git
[submodule "frontend/predis"]
	path = frontend/predis
	url = git://github.com/nrk/predis.git
[submodule "gocollector/godis"]
	path = gocollector/godis
	url = git://github.com/simonz05/godis.git
