
a {
color: #000;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}



#menu {
float: right;
border-left: 1px solid #000;
border-bottom: 1px solid #000;
padding: 0.5em;
}

#list {
padding: 1px 0 1px 20px;
background: url(../images/folder-open.png) left center no-repeat;
font-weight: bold;
}

#save {
padding-left: 5px;
border-left: 1px dotted #000;
font-weight: bold;
}



#keys ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#keys li {
font-weight: normal;
}

#keys li.folder {
font-weight: bold;
margin-top: .05em;
}

#keys li.hidden {
display: none;
}

#keys .icon {
padding: 1px 0 1px 20px;
background: url(../images/folder-open.png) left center no-repeat;
white-space: nowrap;
}

#keys li.collapsed ul {
display: none;
}

#keys ul ul {
margin-left: 6px;
background: url(../images/tree-vline.gif) repeat-y;
}

#keys ul ul li {
padding-left: 16px;
background: url(../images/tree-node.gif) no-repeat;
}

#keys ul ul li.folder {
background-image: url(../images/tree-folder-expanded.gif);
}

#keys ul ul li.folder.collapsed {
background-image: url(../images/tree-folder-collapsed.gif);
}

#keys ul ul li.last { /* Hard-coded substitute for :last-child */
margin-bottom: .3em;
background: #fff url(../images/tree-lastnode.gif) no-repeat;
}

#keys ul ul li.last.folder {
background-image: url(../images/tree-lastnode-expanded.gif);
}

#keys ul ul li.last.folder.collapsed {
background-image: url(../images/tree-lastnode-collapsed.gif);
}

